<h1>Votre panier</h1>
<div class="card border-light mb-3 " >
  <div class="card-header text-white bg-dark">
    Votre panier:
  </div>
<div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-9">
            </div>
            <div class="col-md-1">
            <i class='fa fa-trash'></i>
            </div>
        </div>
        <div class="card-footer  text-right">
        <h4>Total: </h4>
        </div>