.navbar-nav > .nav-item{
    margin-left: 25px;
    margin-right: 25px;
   

}

.card-img{
    width: auto;
    height: 200px;
    min-height: 200px;
}

.card-body{

    width: 100%;
    height: 15vw;
    object-fit: cover;
    display: flex;
    flex-wrap: wrap;
}

.card-btn{
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
}


.container {
    width: 970px !important;
}